<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please enable photo library access to upload photos for surveys.</string>
	<key>NSCameraUsageDescription</key>
	<string>Please enable camera access to upload photos for surveys.</string>
</dict>
</plist>
